body {
    color: rgb(250, 247, 247);
    background: rgb(15, 15, 15);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
  }
  
  header {
    border-bottom: solid 2px rgb(12, 12, 12);
    padding: 20px;
    font-size: 32px;
    color: rgb(244, 244, 245);
  }
  
  section {
    background: rgb(245, 4, 4);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
  }
  
  .chamada-texto {
    margin-right: 5%;
  }
  
  h1 {
    font-size: 40px;
  }
  
  p {
    font-size: 20px;
  }


  img {
    height: 200px;
  }


  